<div class="center row">
  <div class="top">
    <%= image_tag('http://expressionaryevents.com/wp-content/supersized-slides/Aurora_Blur_by_SkateAddiction.png') %>
    <h3 class="white-text  top-text">Instructional Design | Facilitation  | Leadership Development | Consult</h3>
  </div>

  <div class="video-panel">
    <%= video_tag "Wall-Sketching.mp4", class: 'video', :autobuffer => true, :autoplay => true, :loop => :loop %>
  </div>
  <div class="overlay-text">
    <h1 class="">Flexible & Customized Solutions</h1>
  </div>

  <div class="third-panel">
    <%= image_tag('http://www.techandall.com/wp-content/uploads/2013/08/bg9.jpg') %>
    <div class="container">

      <h2 class="white-text ">Training solutions should fit around your business needs and your employee's schedules.</h2>
      <h5 class="white-text ">In every consult, I will always present 2-3 options for delivering the training that was selected.  It's important to have a choice, and hear the pros and cons of each solution.</h5>
    </div>
  </div>

  <div class="video-panel2">
    <%= video_tag "discussing_features.mp4", class: 'video', :autobuffer => true, :autoplay => true, :loop => :loop %>
  </div>

  <div class="forth-panel">
    <%= image_tag('work.jpg') %>
    <h2 class="">Learner, Performance, and Business Focused</h2>
  </div>

  <div class="fith-panel">
    <%= image_tag('https://duquets.files.wordpress.com/2014/09/gradient_bg.jpg') %>
    <h2 class="">"One sized solution fits all", is not the best way to develop your employees.</h2>
    <p>All training solutions should be tailored to your learner's needs and interests.   As part of our consult and even in the project I will be asking a lot of questions.  These questions will help me get to the heart of:</p>
    <ul>
      <li>What you as the leader, would define success of the training.</li>
      <li>What your learners already know, and where their gaps are.</li>
      <li>What your company culture is like, to help bring an organic feel to the training.</li>
    </ul>
  </div>

</div>
