<%= form_for @opportunity do |f| %>

  <div class="col s6">

    <%= f.label :opportunity_name, 'Opportunity Title' %>
    <%= f.text_field :opportunity_name %>
  </div>

  <div class="col s6">
    <%= f.label :opportunity_description %>
    <%= f.text_field :opportunity_description %>
  </div>

  <div class="col s12">
    <%= f.label :opportunity_solution, 'What best describes the training solution you are looking for?' %>
    <%= f.select :opportunity_solution, [['New Hire Training','New Hire Training'],['Product/Tools Training','Product/Tools Training'], ['Skill/Behavior Training','Skill/Behavior Training'],['Leadership Training', 'Leadership Training'], ['Consult for a training program', 'Consult for a training program'],['Facilitation assistance', 'Facilitation assistance'],['Trainer/Facilitation Training','Trainer/Facilitation Training']],{ class: 'browser-default'} %>
  </div>

  <div class="col s12">
    <%= f.label :opportunity_solution_description, 'Describe your training solution in detail' %>
    <%= f.text_area :opportunity_solution_description, class: 'materialize-textarea' %>
  </div>


  <%= f.submit 'Done' %>
<% end %>
