<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo left">Two Two Training</a>
      <a href="#" data-activates="mobile-view" class="right button-collapse"><i class="material-icons">Menu</i></a>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to "Contact Me", new_lead_path %></li>
        <li><%= link_to "Training Solutions", training_solutions_path %></li>
        <li><%= link_to "Blogs", blog_path %></li>
        <li><%= link_to "About", about_path %></li>
      </ul>
      <ul class="side-nav" id="mobile-view">
        <li><%= link_to "Training Solutions", training_solutions_path %></li>
        <li><%= link_to "Blogs", blog_path %></li>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </div>
  </nav>
</div>
