<!DOCTYPE html>
<html>
  <head>
    <title>Stwotwo</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="notice">
      <%= notice %>
    </div>
    <div class="alert">
      <%= alert %>
    </div>




    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo left">stwotwo</a>


          <a href="#" data-activates="mobile-view" class="right button-collapse"><i class="material-icons">Menu</i></a>



          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><%= link_to "Training Solutions", training_solutions_path %></li>
            <li><%= link_to "Blogs", blog_path %></li>
            <li><%= link_to "About", about_path %></li>
          </ul>

          <!-- <ul class="side-nav" id="mobile-view">
            <li><%#= link_to "Training Solutions", training_solutions_path %></li>
            <li><%#= link_to "Blogs", blog_path %></li>
            <li><%#= link_to "About", about_path %></li>
          </ul> -->
          <ul class="side-nav" id="mobile-view">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">Javascript</a></li>
            <li><a href="mobile.html">Mobile</a></li>
          </ul>
          
        </div>
      </nav>
    </div>







      <%= yield %>
  </body>
</html>
